<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="dt-header__container mt-4">
        <div class="col-xl-6 justify-content-center">
            <h3></h3>
        </div>
        <div class="dt-header__toolbar col-xl-6 justify-content-center">
            <div class="language-selector">
                <ul class="dt-nav">
                    <li class="dt-nav__item" ngbDropdown>        
                      <a href="javascript:void(0)" class="selected-lg" ngbDropdownToggle>
                        <i class="flag-icon flag-icon-rounded flag-icon-lg"></i>
                        <span class="text-uppercase">English</span>
                      </a>
            
                      <div ngbDropdownMenu>
                        <a href="javascript:void(0)" 
                           class="dropdown-item active" >
                          <i class="flag-icon mr-2" ></i>
                          <span>English</span>
                        </a>
                        <a href="javascript:void(0)" 
                           class="dropdown-item" >
                          <i class="flag-icon mr-2" ></i>
                          <span>தமிழ்</span>
                        </a>
                        <a href="javascript:void(0)" 
                           class="dropdown-item" >
                          <i class="flag-icon mr-2" ></i>
                          <span>Hindi</span>
                        </a>
                        <a href="javascript:void(0)" 
                           class="dropdown-item" >
                          <i class="flag-icon mr-2" ></i>
                          <span>Marathi</span>
                        </a>
                        <a href="javascript:void(0)" 
                           class="dropdown-item" >
                          <i class="flag-icon mr-2" ></i>
                          <span>Bengali</span>
                        </a>
                      </div>
            
                    </li>
                  </ul>
            </div>
        </div>
    </div>
    <div class="justify-content-center">
        <img class="mx-auto d-block img-fluid" src="assets/images/logo.png">
    </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"><a class="mr-4 mb-2 title" routerLink="/passenger/login"><h2 class="">Passenger</h2></a></div>
    <div class="col-md-3"><a  class="mr-4 mb-2 title" routerLink="/driver/login"><h2>Driver</h2></a></div>
    <div class="col-md-3"></div>
    <div class="col-md-12">
      <div class="footer-content">
        <p>Please Check GPS and browser Location enabled</p>
    </div>
    </div>

  </div>
</div> -->
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
  <div class="language_select">
    <div class="language-selector">
      <ul class="dt-nav">
          <li class="dt-nav__item" ngbDropdown>        
            <a href="javascript:void(0)" class="selected-lg" ngbDropdownToggle>
              <i class="flag-icon flag-icon-rounded flag-icon-lg"></i>
              <span class="text-uppercase">English</span>
            </a>  
            <div ngbDropdownMenu>
              <a href="javascript:void(0)" 
                 class="dropdown-item active" >
                <i class="flag-icon mr-2" ></i>
                <span>English</span>
              </a>
              <a href="javascript:void(0)" 
                 class="dropdown-item" >
                <i class="flag-icon mr-2" ></i>
                <span>தமிழ்</span>
              </a>
              <a href="javascript:void(0)" 
                 class="dropdown-item" >
                <i class="flag-icon mr-2" ></i>
                <span>Hindi</span>
              </a>
              <a href="javascript:void(0)" 
                 class="dropdown-item" >
                <i class="flag-icon mr-2" ></i>
                <span>Marathi</span>
              </a>
              <a href="javascript:void(0)" 
                 class="dropdown-item" >
                <i class="flag-icon mr-2" ></i>
                <span>Bengali</span>
              </a>
            </div>
  
          </li>
        </ul>
  </div>    
  <img class="mx-auto d-block img-fluid" src="assets/images/logo.png">
</div>
</div>
<div class="col-md-2"></div>    
<div class="col-md-4 log-title">
<a routerLink="/driver/login">
<h2>Driver</h2>
  </a>
</div>
<div class="col-md-4 log-title">
  <a routerLink="/passenger/login">
  <h2>Passenger</h2>
  </a>
</div>
<div class="col-md-2"></div>
<div class="col-md-12">
  <h5 style=" text-align: center; margin: 6em 0 3em;;">Please check GPS and browser Location enabled</h5>
</div>
    
</div>
</div>
