
        <!-- Login Content Inner -->
    
        <div class="dt-login__content-inner">
            <div class="modal-header">
                <h4 class="" style="text-align: center; width: 100%;">Enter Otp</h4> 
                <button type="button" class="close text-danger" data-dismiss="modal" (click)="modal.dismiss('Cross click')">×</button>
            </div>
           <div class="modal-body"> 
          <!-- Form -->
          <form>
           
            <!-- Form Group -->
            <div class="form-group">
             
              <input type="number" maxlength="1">
              <input type="number" maxlength="1">
              <input type="number" maxlength="1">
              <input type="number" maxlength="1">
            </div>
            <!-- /form group -->
  
            <!-- Form Group -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary text-uppercase">Verify Otp</button>
              <button type="submit" class="btn btn-primary text-uppercase ml-2">Resend Otp</button>
            </div>
            <!-- /form group -->
    
          </form>
          <!-- /form -->
        </div>
        </div>
        <!-- /login content inner -->