<ul class="dt-app-list">
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-achiever.png" alt="Achiever">
      <span class="dt-app-list__text">Achiever</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-bookmark.png" alt="Bookmark">
      <span class="dt-app-list__text">Bookmark</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-calculator.png" alt="Calculator">
      <span class="dt-app-list__text">Calculator</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-camera.png" alt="Camera">
      <span class="dt-app-list__text">Camera</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-chat.png" alt="Chat">
      <span class="dt-app-list__text">Chat</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-compass.png" alt="Compass">
      <span class="dt-app-list__text">Compass</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-locator.png" alt="Locator">
      <span class="dt-app-list__text">Locator</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-message.png" alt="Message">
      <span class="dt-app-list__text">Message</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-music.png" alt="Music">
      <span class="dt-app-list__text">Music</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-notes.png" alt="Notes">
      <span class="dt-app-list__text">Notes</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-sender.png" alt="Sender">
      <span class="dt-app-list__text">Sender</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-shopping.png" alt="Shopping">
      <span class="dt-app-list__text">Shopping</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-video-chat.png" alt="Video Chat">
      <span class="dt-app-list__text">Video Chat</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-watch.png" alt="watch">
      <span class="dt-app-list__text">Watch</span> </a>
  </li>
  <li class="dt-app-list__item">
    <a href="javascript:void(0)" class="dt-app-list__link">
      <img src="assets/images/icon/icon-writing.png" alt="Writing">
      <span class="dt-app-list__text">Writing</span> </a>
  </li>
</ul>
